# config DB
global.db.url = {{ backend_global_db_url }}
global.db.user = {{ backend_db_global_serviceappcore }}
global.db.password = {{ vaulted_backend_db_global_serviceappcore_password }}
redis.host = {{ backend_redis_host }}

